File used for testing outputs and methods

In [43]:
import matplotlib.pyplot as plt
import pandas as pd
pd.options.mode.chained_assignment = None
import numpy as np
import os

In [44]:
#Function to read a specified excel file and sheet number
def readInData (fileName,sheet):
    current_dir = os.getcwd()
    file_dir = current_dir+fileName
    data = pd.read_excel(file_dir,sheet) #Reads in the specified sheet index from the data file
    clean = data.iloc[12::9,[0,3,7,11]] #Takes only the totals from each location and only the male, female and total pass %s 
    clean.columns = ['Location','Male%','Female%','Total%']
    clean = clean.drop(clean[clean['Male%'] == '..'].index)
    clean = clean.drop(clean[clean['Female%'] == '..'].index)
    clean = clean.drop(clean[clean['Total%'] == '..'].index)
    clean = clean.reset_index(drop=True) #Tidies up dataframe by correcting index values
    clean = clean.astype({'Male%':'float','Female%':'float','Total%':'float'})
    return clean

In [45]:
#Creating dataframes 
fileName = '/testcenterdata.xlsx'
y24 = readInData(fileName,3).copy(deep=True)
y24

            Location      Male%    Female%     Total%
0           Oct 2023  50.798258  52.265372  51.491966
1           Apr 2023  39.024390  50.000000  44.375000
2           Jan 2024  43.478261  45.714286  44.444444
3           Jul 2023  45.070423  49.035370  46.828225
4    Aldershot Total  44.211687  48.373600  46.082893
..               ...        ...        ...        ...
258         Oct 2023  43.288591  45.957447  44.465291
259         Apr 2023  43.478261  52.765957  47.950820
260         Jan 2024  41.964286  46.250000  43.750000
261         Jul 2023  45.567010  57.174393  51.172708
262       York Total  47.121134  53.464778  50.112846

[263 rows x 4 columns]

In [46]:
#Function to print max and min values for each column as a dataframe
def maxMinValuesReturn (df):
    maxMale = df[df['Male%']==df['Male%'].max()]
    maxMale['Index'] = 'maxMale'
    minMale = df[df['Male%']==df['Male%'].min()]
    minMale['Index'] = 'minMale'
    maxFemale = df[df['Female%']==df['Female%'].max()]
    maxFemale['Index'] = 'maxFemale'
    minFemale = df[df['Female%']==df['Female%'].min()]
    minFemale['Index'] = 'minFemale'
    maxTotal = df[df['Total%']==df['Total%'].max()]
    maxTotal['Index'] = 'maxTotal'
    minTotal = df[df['Total%']==df['Total%'].min()]
    minTotal['Index'] = 'minTotal'
    rdf = pd.concat([maxMale,minMale,maxFemale,minFemale,maxTotal,minTotal],axis=0)
    rdf.set_index('Index', inplace = True)
    rdf = rdf.rename_axis(None)
    return rdf

In [47]:
maxMinValuesReturn(y24)

                                Location      Male%    Female%     Total%
maxMale                         Jul 2023  64.285714  40.000000  51.724138
maxMale                         Oct 2023  64.285714  63.636364  64.000000
minMale                         Jan 2024  23.076923  45.714286  36.065574
maxFemale  Brodick (Isle of Arran) Total  43.750000  78.260870  58.181818
minFemale                       Apr 2023  47.826087  29.508197  37.383178
maxTotal                        Jan 2024  61.904762  77.777778  69.230769
minTotal   Bowmore (Isle of Islay) Total  27.272727  40.000000  35.087719

In [48]:
#Function to print max and min values for each column as a dataframe
def maxMinValuesPrint (df):
    maxMale = df[df['Male%']==df['Male%'].max()]
    minMale = df[df['Male%']==df['Male%'].min()]
    maxFemale = df[df['Female%']==df['Female%'].max()]
    minFemale = df[df['Female%']==df['Female%'].min()]
    maxTotal = df[df['Total%']==df['Total%'].max()]
    minTotal = df[df['Total%']==df['Total%'].min()]
    print('Male Max:\n'+str(maxMale)+'\nMale Min:\n'+str(minMale)+'\nFemale Max:\n'+str(maxFemale)+'\nFemale Min:\n'+str(minFemale)+'\nTotal Max:\n'+str(maxTotal)+'\nTotal Min:\n'+str(minTotal))
    return