File used for testing outputs and methods

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [2]:
#Function to read a specified excel file and sheet number
def readInData (fileName,sheet):
    current_dir = os.getcwd()
    file_dir = current_dir+fileName
    data = pd.read_excel(file_dir,sheet) #Reads in the specified sheet index from the data file
    clean = data.iloc[12::9,[0,3,7,11]] #Takes only the totals from each location and only the male, female and total pass %s 
    clean.columns = ['Location','Male%','Female%','Total%']
    clean = clean.drop(clean[clean['Male%'] == '..'].index)
    clean = clean.drop(clean[clean['Female%'] == '..'].index)
    clean = clean.drop(clean[clean['Total%'] == '..'].index)
    clean = clean.reset_index(drop=True) #Tidies up dataframe by correcting index values
    clean = clean.astype({'Male%':'float','Female%':'float','Total%':'float'})
    return clean

In [3]:
#Creating dataframes 
fileName = '/testcenterdata.xlsx'
y25 = readInData(fileName,2).copy(deep=True)
y25

              Location      Male%    Female%     Total%
0       Aberdeen Total  47.098604  50.803428  48.761722
1    Aberystwyth Total  44.227642  47.647059  45.777778
2      Aldershot Total  44.884854  46.945515  45.803681
3        Alnwick Total  40.112994  43.533123  41.728763
4        Andover Total  46.604787  52.128248  49.196058
..                 ...        ...        ...        ...
177      Worksop Total  34.482759  43.333333  38.983051
178     Worthing Total  44.821265  47.482014  46.026573
179      Wrexham Total  42.520661  45.908072  43.958135
180       Yeovil Total  45.732542  48.759377  47.069317
181         York Total  47.210841  52.871073  49.848536

[182 rows x 4 columns]

In [11]:
#Function to print max and min values for each column as a dataframe
def maxMinValuesReturn (df):
    maxMale = df[df['Male%']==df['Male%'].max()]
    minMale = df[df['Male%']==df['Male%'].min()]
    maxFemale = df[df['Female%']==df['Female%'].max()]
    minFemale = df[df['Female%']==df['Female%'].min()]
    maxTotal = df[df['Total%']==df['Total%'].max()]
    minTotal = df[df['Total%']==df['Total%'].min()]
    indexlabels = ['maxMale','minMale','maxFemale','minFemale','maxTotal','minTotal']
    rdf = pd.concat([maxMale,minMale,maxFemale,minFemale,maxTotal,minTotal],axis=0)
    rdf.index = indexlabels
    print(rdf)
    return

In [12]:
maxMinValuesReturn(y25)

                         Location      Male%    Female%     Total%
maxMale    Kyle of Lochalsh Total  70.000000  60.000000  64.000000
minMale      Newton Stewart Total  26.086957  30.000000  27.906977
maxFemale              Diss Total  53.846154  71.428571  61.702128
minFemale    Newton Stewart Total  26.086957  30.000000  27.906977
maxTotal   Kyle of Lochalsh Total  70.000000  60.000000  64.000000
minTotal     Newton Stewart Total  26.086957  30.000000  27.906977

In [6]:
#Function to print max and min values for each column as a dataframe
def maxMinValuesPrint (df):
    maxMale = df[df['Male%']==df['Male%'].max()]
    minMale = df[df['Male%']==df['Male%'].min()]
    maxFemale = df[df['Female%']==df['Female%'].max()]
    minFemale = df[df['Female%']==df['Female%'].min()]
    maxTotal = df[df['Total%']==df['Total%'].max()]
    minTotal = df[df['Total%']==df['Total%'].min()]
    print('Male Max:\n'+str(maxMale)+'\nMale Min:\n'+str(minMale)+'\nFemale Max:\n'+str(maxFemale)+'\nFemale Min:\n'+str(minFemale)+'\nTotal Max:\n'+str(maxTotal)+'\nTotal Min:\n'+str(minTotal))
    return