File used for testing outputs and methods

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [11]:
#Function to read a specified excel file and sheet number
def readInData (fileName,sheet):
    current_dir = os.getcwd()
    file_dir = current_dir+fileName
    data = pd.read_excel(file_dir,sheet) #Reads in the specified sheet index from the data file
    return data.iloc[:,[0,3,7,11]]

In [12]:
#Creating dataframes 
fileName = '/testcenterdata.xlsx'
y25 = readInData(fileName,2).copy(deep=True)
y25

,"DVSA5201 Theory car pass rates by gender, month and DTC",Unnamed: 3,Unnamed: 7,Unnamed: 11
0,NaN,NaN,NaN,NaN
1,Time Period Captured,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,Pass Rate (%),Pass Rate (%),Pass Rate (%)
...,...,...,...,...
1837,Aug 2024,45.219124,55.384615,50.052247
1838,Sep 2024,51.153846,52.941176,51.975052
1839,York Total,47.210841,52.871073,49.848536
1840,NaN,NaN,NaN,NaN
1841,National Figures,43.436996,47.476263,45.184397